version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: edoardojs:latest  # Replacedai with your image namee
    container_name: edoardojs
    network_mode: "bridge"
    restart: unless-stopped
    working_dir: /app
